* {
    margin: 0;
}

body {
    padding-top: 5px;
}

#particles-holder {
    width: 700px;
    height: 300px;
    float: left;
}

.content #controls {
    position: relative;
    right: 35px;
    float: right;
}

.content #controls form {
    width: 250px;
    margin-bottom: 30px;
}

form.tiny-form {
    width: 200px;
}

#pretty-options {
    margin-left: 15px;
    padding: 10px;
    background-color: rgba(0, 255, 243, 0.2);
    display: inline-block;
    border-radius: 20px;
}
