.bubbles-field-plugin {
    position: relative;
    canvas {
        position: absolute;

    }

    &.with-border canvas {
        border: solid;
        border-width: 2px;
    }

    &.with-border canvas.bubbles-field-plugin-overlay-canvas {
        border-color: rgba(255, 255, 255, 0.5);
    }
}

