@import "./index.scss";
@import "./font.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.test-document {
    background-color: black;
    font-family: mr_VlaShu;
    .content-block {
        height: 510px;
        width: 100%;
        position: relative;
        .content {
            color: white;
            z-index: 1;
            position: fixed;
           /*  width: 1000px; */
            width: 100%;
            font-size: 56px;
            display: table;
            height: 510px;
            .text-block {
                vertical-align: middle;
                display: table-cell;
                text-align: center;
            }
        }
    }
}